.header {
  display: grid;
  grid-template-columns: 250px auto 200px;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-image {
  height: 42px;
  width: 200px;
}

.header-middle {
  display: flex;
  flex: 0.8;
}

.search-mail {
  background-color: #eaf1fb;
  border-radius: 10px;
  display: flex;
  flex: 0.8;
}

.header-middle input {
  border: 0;
  background: transparent;
  outline: 0;
  flex: 1;
  font-size: 15px;
  letter-spacing: 1px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right div {
  height: 30px;
  width: 30px;
}

.menu-icon {
  display: none;
}

/* Existing styles... */

@media only screen and (max-width: 768px) {
  .header {
    /* grid-template-columns: 70px auto 70px; Adjust column widths for mobile view */
    display: flex;
    justify-content: space-between;
  }

  .header-left {
    /* justify-content: center; Center the logo in mobile view */
  }

  .header-image {
    /* width: 100%; Make the logo fill the width in mobile view */
  }

  .header-middle {
    display: none; /* Hide the search bar in mobile view */
  }

  .header-right {
    /* justify-content: flex-end; Align icons to the right in mobile view */
    display: none;
  }

  .menu-icon {
    display: inline-block; /* Show the menu icon in mobile view */
  }
  .header-image {
    /* height: 30px; */
    /* width: 150px; */
  }
}
