.emailbody {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 10px;
  height: 40px;
}

.emailbody:hover {
  box-shadow: 2px 2px 2px 2px gray;
  cursor: pointer;
}

.emailbody-left {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 20%;
}

.emailbody-left svg {
  font-size: 18px;
  margin-right: 10px;
}
.emailbody-middle-msg {
  display: flex;
  width: 90%;
}
.emailbody-middle {
  display: flex;
  align-items: center;
  flex: 90%;
}

.emailbody-middle svg {
  font-size: 18px;
  margin-right: 10px;
}

.emailbody-middle-msg {
  display: flex;
  width: 90%;
}

.emailbody-middle p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 20px;
  max-width: 570px;
}

.emailbody-right {
  display: flex;
  align-items: center;
  flex: 11%;
  justify-content: flex-end;
}

.emailbody-right p {
  font-size: 15px;
}
