.sentEmails {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 10px;
  height: 40px;
}

.sentEmails:hover {
  box-shadow: 1px 1px 1px 2px gray;
  cursor: pointer;
}

.sentEmails-left {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 20%;
}

.sentEmails-left svg {
  font-size: 18px;
  margin-right: 10px;
}
.sentEmails-middle-msg {
  display: flex;
  width: 90%;
}
.sentEmails-middle {
  display: flex;
  align-items: center;
  flex: 40%;
}

.sentEmails-middle svg {
  font-size: 18px;
  margin-right: 10px;
}

.sentEmails-middle-msg {
  display: flex;
  width: 90%;
}

.sentEmails-middle p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 20px;
  max-width: 500px;
}

.sentEmails-right {
  display: flex;
  align-items: center;
  flex: 13%;
  justify-content: flex-end;
}

.sentEmails-right p {
  font-size: 15px;
}
